<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>СПВВИУС, 22 курс, 1992-1997 г.г.</title>
	<link rel="stylesheet" href="_css/default2.css">
	<script src="_lib/angular-1.2.32/angular.js"></script>
	<script src="_lib/angular-1.2.32/angular-route.min.js"></script>
	<script src="_lib/default.js"></script>
</head>
<body>
	<div class="header">Информационный портал выпускников СПВВИУС 22 курса, 1997 года выпуска</div>
	<div class="container">
		<div class="menu" ng-controller="menuCtrl">
			<ul>
				<li><a href="#history">История училища</a></li>
				<li><a href="#news">Новости</a></li>
				<li><a href="#publicphoto">Фотографии</a></li>
				<li><a ng-show="!dataFctrl.auth" ng-click="showSecureForm()">Авторизация</a></li>
				<li><a href="#historyOf22kurs" ng-show="dataFctrl.auth">История курса</a></li>
				<li><a href="#myhistory" ng-show="dataFctrl.auth">Наши истории</a></li>
				<li><a href="#meetings" ng-show="dataFctrl.auth">Наши встречи</a></li>
				<li><a href="#myphoto" ng-show="dataFctrl.auth">Наши фотографии</a></li>
				<li><a href="#mypage" ng-show="dataFctrl.auth">Мои контакты</a></li>
				<li><a href="#mykurs" ng-show="dataFctrl.auth">Мой курс</a></li>
			</ul>
			<div class="secure-form" ng-show="dataFctrl.showSecureForm">	
				<form submit="" ng-submit="auth()" ng-controller="authCtrl">
					<INPUT type="text" ng-model="login" placeholder="Телефон">
					<INPUT type="password" ng-model="password" placeholder="Пароль"><BR>
					<INPUT type="submit" value="Войти"><br>
					<a href="#roman.h">Забыл пароль</a>
				</form>

				</div>
			</div>
			<div class="content"><div ng-view></div>
		</div>
		<div class="settings"><p></p></div>
	</div>
	<div class="footer">22 курс, 1992-1997 г.г.</div>
</body>
</html>