html {
	height: 100%;
}

* html body {
	height: 100%;
}

body {
	position:relative;
	/*font-family: Tahoma, Arial, Verdana, Sans-serif, Lucida Sans;*/
	font: 10pt Tahoma;
	min-height: 100%;
	padding: 0;
	margin: 0 auto;
	background-color: lightgray;
	width: 900px;
}

.header{
	background: url("../_images/svyaz80_white.png") #002f5e no-repeat;
	height: 80px;
	line-height: 80px;
	padding-left: 110px;
	font-size: 150%;
	color: #FFF;
}

.container{
	/*position: absolute;*/
	left: 0;
	right: 0;
	top: 80px;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	background: #FFF;
	min-height: 100%;
}

.menu {
	float: left;
	margin-right: 1px;
	width: 200px;
	height: 100%;
	background-color: #FFF;
	padding-bottom:32767px; margin-bottom:-32767px;
}

.menu ul {
	list-style: none;
	margin: 20px 10px 10px 30px;
	padding: 0;
}

.menu li {
	margin: 10px 10px 0 0;
}

.menu ul a {
	color: #002f5e;
	text-decoration: none;
	cursor: pointer;
}

.content{
	float: left;
	/*display: table-cell;*/
	left: 201px;
	width: 499px;
	height: 100%;
	/*margin: 10px 10px 10px 10px;*/
	color: #002f5e;
	background-color: #FFF;
	overflow: auto;
	text-align: center;
}

.content p {
	margin: 20px 5px 5px 10px;
	text-align: justify;
}
.title{
	font-style: bolder;
	font-size: 120%;
}
.msg {
	/*width: 100%;*/
	margin: 5px 5px 0 5px;
	padding: 10px;
	border: 0px solid gray;
	border-radius: 5px;
	text-align: justify;
	background-color: #FFF;
}
.div-inner-center{
	/*display: table;*/
	text-align: center;
}

.empty-line {
	position: absolute;
	bottom: 0;
	width: 900px;
	background-color: #FFC;
	height: 45px;
}

.settings{
	float: right;
	right: 0px;
	width: 199px;
	height: 100%;
	/*margin: 20px 10px 10px 10px;*/
	color: #002f5e;
	background-color: #FFF;
	padding-bottom:32767px; margin-bottom:-32767px;
}

.settings p {
	margin: 20px 10px 0 10px;
}
hr{
	border: 1px 0 0 0 solid lightgray;
}
.secure-form {
	/*position: absolute;*/
	display: table;
	/*left: 50px;*/
	border: 1px solid darkgray;
	border-radius: 5px;	
	margin: 20px;
	line-height: 40px;
	text-align: center;
}
.caption {
	border-radius: 5px 5px 0 0;	
	background-color: #002f5e;
	color: #FFF;
	font-size: 120%;
	margin: 0 0 20px 0;
	padding: 0 0 0 0px;
}
.container input { 
	outline: none; 
	padding: 8px;
	margin: 10px;
	border: 1px solid darkgray;
	border-radius: 3px;
	width: 130px;
}

.button-right { 
	float: right;
	margin: 0 0 0 0;
}

.container input[type=submit] { 
	border: 1px solid #002f5e;
	background-color: #002f5e;
	color: #FFF;
	width: 100px;
}
 
.footer{
	/*position:absolute;*/
	height: 20px;
	line-height: 20px;
	text-align: center;
	width:100%;
	bottom:0;
	padding:1px 0;
	background-color: #002f5e;
	font-size: 80%;
	color: #FFF;
	display: none;
}

.message-center{
	display: table;
	width: 100%;
	text-align: center;
	margin: 0 0 15px 0;
	/*border: 1px solid red;*/
}